.form {
  max-width: 500px;
  &__container {
    padding: 15px 25px;
    min-height: 150px;
    margin: 0 auto;
    background-color: rgb(239, 246, 252);
    border-radius: 20px;
  }
  &__content {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
  }


  &__agree {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
